<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width , initial-scale=1">
  <title>
    Dashboard
  </title>
</head>

<body>
  <app-navbar></app-navbar>
  <main>
    <ul>
      <li>
        <a href="projects.html">Projects</a>
      </li>
      <li>
        <a href="myActivities.html"> Activities</a>
      </li>
      <li>
        <a href="reports.html">Reports</a>
      </li>
      <li>
        <a href="milestones.html">Milestones</a>
      </li>
      <li>
        <a href="teams.html">Teams</a>
      </li>
    </ul>
  </main>

  <footer>
    <p>&copy; 2017. All Rights Reserved. Designed by geek<span>factory</span>.</p>
  </footer>
</body>

</html>