<section>
  <button type="button" class="btn btn-primary addProjectButton" (click)="openProjectModal()">Add Project</button>
  <div class="container-fluid projectsTable">
    <div class="row">
      <table class="table table-bordered col-sm-8">
        <thead class="thead-inverse">
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Status</td>
            <td>Budget</td>
            <td>Estimate Hours</td>
            <td>Actions</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let project of projects">
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td>{{project.startDate}}</td>
            <td>{{project.endDate}}</td>
            <td>{{project.status}}</td>
            <td>{{project.budget}}</td>
            <td>{{project.estimateHours}}</td>
            <td>
              <div class="col-sm-4">
                <i class="fa fa-pencil projectIcons" aria-hidden="true" title="Edit" (click)="openProjectModal(project)"></i>
              </div>
              <div class="col-sm-4">
                <a routerLink="/reports/{{project.id}}">
                  <i class="fa fa-line-chart projectIcons" aria-hidden="true" title="Show report"></i>
                </a>
              </div>
              <div class="col-sm-4">
                <i class="fa fa-trash projectIcons" aria-hidden="true" title="Delete" (click)="deleteProject(project)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{header}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form novalidate (ngSubmit)="onSubmit(project)" [formGroup]="project">
          <div class="form-group" [ngClass]="{'has-error':!project.controls['name'].valid && project.controls['name'].touched}">
            <label for="name" class="control-label col-sm-2">Name</label>
            <div class="col-sm-4"><input class="form-control" formControlName="name" name="name" type="text" placeholder="name"></div>
            <div *ngIf="project.controls['name'].hasError('required') && project.controls['name'].touched" class="alert alert-danger">You must add a name.</div>
          </div>

          <div class="form-group">
            <label for="description" class="control-label col-sm-2">Description</label>
            <div class="col-sm-4"><input class="form-control" formControlName="description" name="description" type="text" placeholder="description"></div>
          </div>

          <div class="form-group">
            <label for="startDate" class="control-label col-sm-2">Start Date</label>
            <div class="col-sm-4"><input class="form-control" formControlName="startDate" name="startDate" type="date" placeholder="start date"></div>
          </div>

          <div class="form-group">
            <label for="endDate" class="control-label col-sm-2">End Date</label>
            <div class="col-sm-4"><input class="form-control" formControlName="endDate" name="endDate" type="date" placeholder="end date"></div>
          </div>
          <div class="form-group">
            <label for="budget" class="control-label col-sm-2">Budget</label>
            <div class="col-sm-4"><input class="form-control" formControlName="budget" name="budget" type="number" placeholder="budget"></div>
          </div>

          <div class="form-group">
            <label for="estimateHours" class="control-label col-sm-2">Estimate hours</label>
            <div class="col-sm-4"><input class="form-control" formControlName="estimateHours" name="estimateHours" type="number" placeholder="estimate hours"
                min="0" max="100"></div>
          </div>

          <div class="form-group">
            <label for="status" class="control-label col-sm-2">Status</label>
            <div class="col-sm-4">
              <select class="form-control" name="status" formControlName="status" [(ngModel)]="status">
                <option *ngFor="let status of statuses" [ngValue]="status">{{status}}</option>
             </select>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
          <button type="button" class="btn btn-primary" aria-label="Close" (click)="hideChildModal()">Close</button>
        </form>
      </div>
      <div class="modal-footer">
        <!--
          <button class="btn btn-primary" type="submit">Create</button>
          <button type="button" class="btn btn-primary" aria-label="Close" (click)="hideChildModal()">Close</button>-->
      </div>
    </div>
  </div>












  <!--<div class="btn-group" dropdown>
            <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>   
    Status <span class="caret"></span>
  </button>
            <ul dropdownMenu role="menu" aria-labelledby="single-button">
              <a class="dropdown-item" href="#" *ngFor="let status of statuses">{{status.name}}</a>

              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>-->