<!DOCTYPE html>
<html>

<head>
  <title>
    Activities
  </title>
</head>

<body>
  <main>
    <section>
      <header>
        Activities
      </header>
      <ul>
        <li>
          Activity 1 <input type="button" value="modify" />
          <input type="button" value="assign activity" />
        </li>
        <li>
          Activity 2 <input type="button" value="modify" />
          <input type="button" value="assign activity" />
        </li>
        <li>
          Activity 3 <input type="button" value="modify" />
          <input type="button" value="assign activity" />
        </li>
        <li>
          Activity 4 <input type="button" value="modify" />
          <input type="button" value="assign activity" />
        </li>
      </ul>
    </section>
    <section>
      <header>
        Add Activities
      </header>
      <form>
        <input type="text" placeholder="activity title" />
        <textarea rows="4" cols="20" placeholder="activity description"></textarea>
        <label name="members">Assignee Members
                <select>
                    <option value="X">X</option>
                    <option value="Y">Y</option>
                    <option value="Z">Z</option>
                </select>
                </label>
        <input type="submit" value="add Activity" />
      </form>
    </section>
  </main>

</body>

</html>