<section>
  <button type="button" class="btn btn-primary addProjectButton" (click)="openTaskModal()">Add Task</button>
  <div class="container-fluid projectsTable">
    <div class="row">
      <table class="table table-bordered col-sm-8">
        <thead class="thead-inverse">
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Due Date</td>
            <td>Estimate</td>
            <td>Actual</td>
            <td>Actions</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.dueDate}}</td>
            <td>{{task.estimate}}</td>
            <td>{{task.actual}}</td>
            <td>
              <div class="col-sm-2">
                <i class="fa fa-pencil projectIcons" aria-hidden="true" title="Edit" (click)="openTaskModal(task)"></i>
              </div>
              <div class="col-sm-2">
                <i class="fa fa-trash projectIcons" aria-hidden="true" (click)="deleteTask(task)" title="Delete"></i>
              </div>
              <!--<div class="col-sm-3">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>-->

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>


<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{header}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form novalidate (ngSubmit)="onSubmit(task)" [formGroup]="task">
          <div class="form-group" [ngClass]="{'has-error':!task.controls['name'].valid && task.controls['name'].touched}">
            <label for="name" class="control-label col-sm-2">Name</label>
            <div class="col-sm-4"><input class="form-control" formControlName="name" name="name" type="text" placeholder="name"></div>
            <div *ngIf="task.controls['name'].hasError('required') && task.controls['name'].touched" class="alert alert-danger">You must add a name.</div>
          </div>

          <div class="form-group">
            <label for="description" class="control-label col-sm-2">Description</label>
            <div class="col-sm-4"><input class="form-control" formControlName="description" name="description" type="text" placeholder="description"></div>
          </div>

          <div class="form-group">
            <label for="startDate" class="control-label col-sm-2">Due Date</label>
            <div class="col-sm-4"><input class="form-control" formControlName="dueDate" name="dueDate" type="date" placeholder="due date"></div>
          </div>

          <div class="form-group">
            <label for="endDate" class="control-label col-sm-2">Estimate</label>
            <div class="col-sm-4"><input class="form-control" formControlName="estimate" name="estimate" type="number" placeholder="estimate"></div>
          </div>
          
          <div class="form-group">
            <label for="project" class="control-label col-sm-2">Assigned Project</label>
            <div class="col-sm-4">
              <select class="form-control" formControlName="assignedProjectID">
               <option *ngFor="let project of projects" [value]="project.id">{{project.name}}</option>
            </select>
            </div>
          </div>

          <button class="btn btn-primary" type="submit">Submit</button>
          <button type="button" class="btn btn-primary" aria-label="Close" (click)="hideChildModal()">Close</button>

        </form>
      </div>
      <div class="modal-footer">
        <!--
          <button class="btn btn-primary" type="submit">Create</button>
          <button type="button" class="btn btn-primary" aria-label="Close" (click)="hideChildModal()">Close</button>-->
      </div>
    </div>
  </div>



  <!--<div class="btn-group" dropdown>
            <button id="single-button" type="button" class="btn btn-primary" dropdownToggle>   
    Status <span class="caret"></span>
  </button>
            <ul dropdownMenu role="menu" aria-labelledby="single-button">
              <a class="dropdown-item" href="#" *ngFor="let status of statuses">{{status.name}}</a>

              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>-->