<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="navbar-brand" src="Job-Time-Tracking-Software.jpg" />
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
            <app-search></app-search>
        </div>
    </div>
</nav>