form{
    padding-top: 100px;
    background:#F7F7F7;
}
button{
    background-color: rgb(104, 145, 162);
}
.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
