/* You can add global styles to this file, and also import other style files */
main{
    background-color: lightsteelblue;
    height: 90%;
}
html, body { 
    height: 100%;
}
.modal-body{
    overflow: auto;
}